.navbar-static-top {
  margin-bottom:0px;
  background-color: #1c1c1c;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#pcw-map-content {
  left: -15px;
}

.sidebar {
    background-color: #2e2e2e;
    z-index: 2;
    padding: 10px;
    height: 780px;
}

.sidebar span{
  color: #787878;
  font-weight: bold;
}

.sidebar ul {
  margin: 0 0 0 -10px;
}

.pcw-sidebar-extra {
    background-color: rebeccapurple;
    height: 400px;
    z-index: 1;
    position: absolute;
    width: 350px;
    left: -350px;
}

.pcw-map-view{
  width: 100%;
  /*left: -15px;*/
}

#pcw-info-panel{
  padding: 10px;
}

.pcw-map-submenu{
  padding-left: 20px;
}

.navbar-header span {
  color: #9d9d9d;
  font-size: 1.5em;
  line-height: 49px;
}


.foo {margin: 20px 0;}





#map {
  height: 700px;
  margin: -16px;
  z-index: 0;
}
.leaflet-top-pane {
  pointer-events: none;
}
#places{
  float: left;
  width: 15%;
}
.location_list{
  cursor: pointer;
}